@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --fonte1: 'Montserrat', sans-serif;
    --fonte2: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: var(--fonte1);
    background-color: #969595;
}

header {
    background-color: rgb(171, 7, 7);
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte1);
    font-weight: 900;
    padding: 20px 0 10px 0;
}

header > p {
    font-size: 14px;
    padding-bottom: 50px;
    font-weight: 500;
}

nav {
    background-color: rgb(171, 7, 7);
    padding: 10px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.207);
    display: flex;
}

nav a {
    background-color: rgb(193, 60, 60);
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 15px 15px;
    border-radius: 5px;
    margin: 5px;
    flex: auto;
    flex-flow: row;
    text-align: center;
}

nav a:hover {
    background-color: rgb(136, 17, 17);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.207);
}