@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


:root {
    --fonte1: 'Montserrat', sans-serif;
    --fonte2: 'Roboto Slab', serif;
    --fonte3: 'Special Elite', cursive;
    --fonte4: 'Passion One', cursive;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: var(--fonte1);
    background-color: #969595;
}

header {
    background-color: rgb(205, 13, 13);
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte1);
    font-weight: 900;
    padding: 20px 0 10px 0;
}

header > p {
    font-size: 14px;
    padding-bottom: 50px;
    font-weight: 500;
}

nav {
    background-color: rgb(205, 13, 13);
    padding: 5px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.207);
    display: flex;
}

nav a {
    background-color: rgb(255, 255, 255);
    color: rgb(178, 0, 0);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px;
    flex: auto;
    flex-flow: row;
    text-align: center;
}

nav a:hover {
    background-color: rgb(178, 0, 0);
    color: white;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.207);
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte4);
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte1);
}

section {
    padding-top: 9vh;
    padding-bottom: 9vh;
    line-height: 2em;
    padding-left: 35px;
    font-family: var(--fonte2);
    font-size: 1.9vw;
}

section.simples {
    background-color: white;
    color: black;
}

section#img01 {
    background-image: url(imagens/Church-Of-Good-Shepherd-background.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#img02 {
    background-image: url(imagens/troco.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px  rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;;
}

section.imagem .caixa-poema {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 0px black;
}

section > p.direita {
    font-size: 1.5vw;
    font-style: italic;
    padding-left: 225px;
}

footer {
    background-color: rgb(205, 13, 13);
    color: white;
    font-size: 0.85em;
    text-align: center;
    padding: 10px 0 10px 0;
    font-family: var(--fonte1);
}

footer > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > a:hover {
    text-decoration: underline;
}